body{
    font-family: 'Roboto', sans-serif;
}

.checkout-form label{
    font-size: 12px;
    font-weight: 700;
}

.checkout-form input{
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}


